

  <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened"><span class="name">side nav</span>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-nav-item active active design" href="home"><i class="fa fa-home" ></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-nav-item active active design" href="foods"><i class="fa fa-cutlery" ></i> Foods</a>
        </li>
        <li class="nav-item">
          <a class="nav-nav-item active active design" href="addrecipe"><i class="fa fa-plus-circle" ></i> Add Receipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-nav-item active active design" href="details"><i class="fa fa-info-circle" ></i> Details</a>
        </li>
      </ul>
      
    </mat-sidenav>
    <mat-sidenav-content>

      <nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
        <button (click)="opened=!opened"><i class="fa fa-bars" ></i></button>
        <div class="container-fluid">
          <h1 class="name">RoyalDarbar</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <img src="../assets/images/logo 2.jpg" height="170px" width="200px" alt="">
              </li>
              </ul>
              <div style="margin-top: 150px;">
                <a href="" class="nav-item active link"><i class="fa fa-phone-square" ></i><b> Contacts</b></a>
              <a href="" class="nav-item active link"><i class="fa fa-university" ></i><b> About Us</b></a>
              <a href="" class="nav-item active link"><i class="fa fa-picture-o" ></i><b> Images</b></a>
              <a href="" class="nav-item active link"><i class="fa fa-commenting" ></i><b> Feedback</b></a>
              </div>
          </div>
        </div>
      </nav>
     
      <!-- Router outlet -->
    <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  
  
  
