
<!-- body -->
<div id="carouselExampleIndicators" class="carousel slide mt-3" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/bg 4.png" class="d-block w-100" alt="..." height="500px">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/bg 6.jpg" alt="..." height="500px">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/bg 2.webp" class="d-block w-100" alt="..." height="500px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Block 2 -->
<div class="bgcolor mt-2">
  <div class="block">
    <div class="one">
      <img class="adjust" src="../../assets/images/chef.jpg" alt="" height="480px" width="600px">
    </div>
    <div class="side">
     <h2>Our story</h2>
     <p>Restaurants in Bangalore, Bangalore Restaurants, Yelahanka restaurants, Best Yelahanka restaurants,
        North Bangalore restaurants, Quick Bites in Bengaluru, Quick Bites near me, Quick Bites in North 
        Bangalore, Quick Bites in Yelahanka, in Bengaluru, near me, in North Bangalore, in Yelahanka, Order
         food online in Yelahanka, Order food online in Bengaluru, Order food online in North Bangalore, 
         New Year Parties in Bengaluru, Christmas' Special in Bengaluru,</p>
         <a class="hyper" target="_blank" href="https://www.zomato.com/mangalore/royal-darbar-kankanady">--VIEW COLLECTION</a>
     </div>
   </div>

   <div class="video">
    <video controls height="400px" width="100%" src="../../assets/videos/Restaurant Promo Video _ Sigma 30mm f_1.4.mp4"></video>
  </div>

   <div class="inline">
    <div class="right">
      <h2>WE USE THE LATEST TECHNOLOGY</h2>
     <p>Technology has been used in the restaurant industry for long, but it has become indispensable with 
       changing times. The restaurants that have been quick in adapting to technological advancements with 
       changing times have acquired and retained more customers. From systematic online delivery to dining 
       in a fully automated restaurant, technology innovations have set high customer expectations. As the 
       year 2020 is fast approaching, technology and automation will continue to accelerate in the restaurant 
       industry. Digitization and improved restaurant tech services would set new standards in the F&B industry
        on the whole. Restaurants will invest in technologies that provide them with an edge to better adapt to
         the needs of the customers.</p>
        <a class="hyper" target="_blank" href="https://www.zomato.com/mangalore/royal-darbar-kankanady">--VIEW COLLECTION</a>
    </div>
    <div class="left">
      <img class="adjust" src="../../assets/images/family 1.jpg" alt="" height="480px" width="600px">
     </div>
   </div>

<!-- footer -->
<section class="footer">
    <div class="flex">
      <div class="lists">
        <h2 class="watch">Royal Darbar</h2>
        <ul class="unstyle">
          <li><i class="fa fa-envelope mr-3" ></i>support@royaldarbar.com</li>
          <li><i class="fa fa-phone-square mr-3" ></i>+9390522177 , +7095001756</li>
        </ul>
      </div>
      <div class="lists">
        <h2 class="watch">COMPANY</h2>
        <ul class="unstyle">
          <li>About us</li>
          <li>Blog</li>
          <li>Careers</li>
          <li>Contact Us</li>
        </ul>
      </div>
      <div class="lists">
        <h2 class="watch">POLICIES</h2>
        <ul class="unstyle">
          <li>Privacy Policies</li>
          <li>Terms and Conditions</li>
        </ul>
      </div>
      <div class="lists">
        <h2 class="watch">QUICK LINKS</h2>
        <ul class="unstyle">
          <li>Tariff</li>
          <li>Offers</li>
          <li>Own a Franchise</li>
          <li>Earn with Us</li>
          <li>Mens Collection</li>
        </ul>
      </div>
    </div>
    <div class="flex">
      <div class="lists">
        <h2 class="watch">FOLLOW US</h2>
        <ul class="unstyle inline">
          <li><i class="fa fa-instagram mr-3 margin" style="font-size: 30px;"></i></li>
          <li><i class="fa fa-facebook mr-3 margin" style="font-size: 30px;"></i></li>
          <li><i class="fa fa-linkedin mr-3 margin" style="font-size: 30px;"></i></li>
          <li><i class="fa fa-youtube mr-3 margin" style="font-size: 30px;"></i></li>
        </ul>
      </div>
      <div class="lists">
        <h2 class="watch">DOWNLOAD OUR APP</h2>
        <img src="../../assets/images/appstore.png" alt="">
        <img src="../../assets/images/googleplay.png" alt="">
      </div>
    </div>
    </section>